<h3>Virement salaire</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Somme</mat-label>
        <input matInput type="number" formControlName="amount">
        <mat-error>La somme est requise</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Votre entreprise</mat-label>
        <input matInput type="text" formControlName="company">
        <mat-error>Votre entreprise est requis</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date de virement</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-error>Date de virement requise</mat-error>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Note</mat-label>
        <textarea matInput formControlName="note"></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="remember">Se souvenir de mon salaire et de mon entreprise</mat-checkbox>
    <button mat-flat-button type="submit">Enregistrer</button>
</form>

@if (error()) {
    <br/>
    <p class="error">
        Salaire non sauvegardé, il y a eu une erreur!!
        <span (click)="error.set(null)" style="line-height: 0;">
            <mat-icon class="close">close</mat-icon>
        </span>
    </p>
}