:host {
    padding: 1rem .75rem 1.5rem;
    display: block;
}

mat-form-field {
    margin-bottom: 0.5rem;
    display: block;
}
button {
    margin-left: auto;
    display: block;
    width: fit-content;
}