<div class="title">
    <h1>Banque<mat-icon>account_balance</mat-icon></h1>
    <div class="balance"><mat-icon>balance</mat-icon> <span>{{balance() | currency:'MGA'}}</span></div>
</div>
<button type="button" mat-button (click)="openSalaryComponent()">Ajouter mon salaire</button>
<button type="button" mat-button (click)="openDepositComponent()">Faire un dépôt</button>
<button type="button" mat-button (click)="openWithdralComponent()">Retirer de l'argent</button>
<button type="button" mat-button >AGIOS</button>
<button type="button" mat-button >Frais carte</button>