<div class="title">
    <h1>Banque<mat-icon>account_balance</mat-icon></h1>
    @if (balance()) {
        <div class="balance"><mat-icon>balance</mat-icon> <span>{{balance() | currency:'MGA'}}</span></div>
    }
</div>

<app-transaction-register />

<section class="wrapper">
    <!-- Stats -->
    <div class="aside">
        <div class="aside-header">
            <h3>Statistiques</h3>
            <div class="range-filter">
                <mat-form-field>
                    <mat-label>Entrez la plage de dates</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
                        <input matStartDate placeholder="Date de début" formControlName="start">
                        <input matEndDate placeholder="Date de fin" formControlName="end">
                    </mat-date-range-input>
                    <mat-hint>JJ/MM/AAAA – JJ/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker (closed)="onFilter()" #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- List -->
    <div class="list">
        <!-- Last transactions -->
        @if (listMode === 'last') {
            <h3>Dernières transactions</h3>
            @if (lastTransactions()?.length === 0) {
                <p>Pas de transactions pour l'instant</p>
                @if (isLocalMode) {
                    <button mat-stroked-button (click)="generateFakeTransactions()">Generer des transactions</button>
                }
            } @else {
                @for (t of lastTransactions(); track t.id) {
                    <app-transaction-item [transaction]="t" />
                }
            }
        }
        @if (listMode === 'all') {
            <h3>Toutes les transactions</h3>
            <app-transaction-list />
        }
        
        <button mat-stroked-button class="more" (click)="toggleListMode()">
            {{listMode === 'last' ? "Voir toutes les transactions" : "Voir les dernières transactions"}}
        </button>
    </div>
</section>