@import "./variables.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--mat-app-background-color);
    color: var(--mat-app-text-color);
}

.mat-typography h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.mat-typography h3 {
    font-size: 1.8rem;
    line-height: 1.2;
}

.text-center {
    text-align: center;
}

.error {
    margin: 0 !important;
    padding: 16px;
    color: white;
    background-color: $danger;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close {
        cursor: pointer;
    }
}

app-withdral,
app-salary,
app-deposit,
app-credit-card,
app-agios {
    padding: 1rem .75rem 1.5rem;
    display: block;

    mat-form-field {
        margin-bottom: 0.5rem;
        display: block !important;
    }

    button {
        margin-left: auto;
        display: block !important;
        width: fit-content;
    }
}